<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevin.gradecalculator" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CourseChooserActivity"
            android:label="@string/title_activity_course_chooser" >
        </activity>
        <activity
            android:name=".addSemester"
            android:label="@string/title_activity_add_semester" >
        </activity>
        <activity
            android:name=".removeSemester"
            android:label="@string/title_activity_remove_semester" >
        </activity>
        <activity
            android:name=".showCourses"
            android:label="@string/title_activity_course_view" >
        </activity>
        <activity
            android:name=".addCourse"
            android:label="@string/title_activity_add_course" >
        </activity>
        <activity
            android:name=".removeCourse"
            android:label="@string/title_activity_remove_course" >
        </activity>
        <activity
            android:name=".showGrades"
            android:label="@string/title_activity_show_grades" >
        </activity>
        <activity
            android:name=".addGrade"
            android:label="@string/title_activity_add_grade" >
        </activity>
        <activity
            android:name=".ShowLicenseActivity"
            android:label="@string/title_activity_show_license"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
